.displayBox {
    height: 275px;
    width: auto;
}

h3 {
    text-align: center;
}

.add {
    background-color: green;
    color: white;
}

.remove {
    background-color: red;
    color: white;
}

.hideBtn {
    display: none;
}